body {
    background-color: yellow;
}

#test {
    background-color: red;
}

.text {
    background-color: green;
    font-size: 34px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 900;
    width: 50%;
    height: 100px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;
}