.cards {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 20px;
}

.card {
   width: 400px; /* Ширина карточки */
   background-color: burlywood;
   border-radius: 20px;
   transition: background-color 0.5s;
   overflow: hidden;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.photo img {
   width: 100%;
   height: auto;
   object-fit: contain; /* Изменяем с cover на contain, чтобы не обрезать фото */
   border-radius: 20px 20px 0 0;
}

.info {
   padding: 20px;
   height: auto;
   flex-grow: 1;
}

.card:hover {
   background-color: yellow;
   transition: background-color 0.5s;
}
